.header{
    width: 100%;
    height: 55px;
    background-color: var(--header-background-color);
    position: fixed;   
    top:0;
    left: 0;
    box-shadow: 0px 0px 5px black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
    .hamburger-icon{
        fill: var(--icon-color) ;
        left:0px;
        padding: 12px;
    }
    
    .hamburger-icon:hover{
        background-color: var(--icon-background-hover);
        fill: var(--icon-color-hover);
        padding-top: 16px;
        padding-bottom: 16px;
        cursor: pointer;
    }

    .night-icon {
        fill: var(--icon-color);
        padding: 15px;
    } 
    .night-icon:hover{
        padding: 16px 16px 16px 16px;
        background-color: var(--icon-background-hover);
        fill:var(--icon-color-hover);
        cursor: pointer;
    }

    .light-icon{
      fill: var(--icon-color);
      padding: 15px;
    }
    .light-icon:hover{
      padding: 16px 16px 16px 16px;
      background-color: var(--icon-background-hover);
      fill:var(--icon-color-hover);
      cursor: pointer;
    }

}

.content{
    width: 100%;
    top:55px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin: 0px;
    left: 0;
    bottom: 0;
    background-color: rgba(153, 153, 153, 0.151);
    padding-bottom: 170px;
    .menu-container{
        top:0px;
        right:18px;
        display: flex;
        position: absolute;
        z-index: 1;

        .arrow-up {
         position: absolute;
         right:0px;
         width: 0; 
         height: 0; 
         border-left: 15px solid transparent;
         border-right: 15px solid transparent;
         border-bottom: 18px solid rgb(255, 255, 255);
         
     
         }
 
       .menu {
         display: flex;
         flex-direction: column;
         justify-content: center;
         align-items: center;
         box-shadow: 1px 0px 20px rgb(179, 178, 178);
         padding: 10px 25px 20px 25px;
         border-radius: 5px;
         margin-top: 10px;
         background-color: white;
 
         p {
             font-family: Verdana, Geneva, Tahoma, sans-serif;
              font-size: 13px;
              color: var(--p-color);
              
              font-weight: bold;
         }
 
 
         .switch {
             position: relative;
             display: inline-block;
             width: 49px;
             height: 24px;
           }
           
           .switch input { 
             opacity: 0;
             width: 0;
             height: 0;
           }
           
           .slider {
             position: absolute;
             cursor: pointer;
             top: 0;
             left: 0;
             right: 0;
             bottom: 0;
             background-color: #ccc;
             -webkit-transition: .4s;
             transition: .4s;
           }
           
           .slider:before {
             position: absolute;
             content: "";
             height: 16px;
             width: 16px;
             left: 4px;
             bottom: 4px;
             background-color: white;
             -webkit-transition: .4s;
             transition: .4s;
           }
           
           input:checked + .slider {
             background-color: var(--p-color);
           }
           
           input:focus + .slider {
             box-shadow: 0 0 1px rgb(180, 62, 62);
           }
           
           input:checked + .slider:before {
             -webkit-transform: translateX(26px);
             -ms-transform: translateX(26px);
             transform: translateX(26px);
           }
           
           /* Rounded sliders */
           .slider.round {
             border-radius: 34px;
           }
           
           .slider.round:before {
             border-radius: 50%;
           }
     
         }
     }

    img{
        width: 700px;
        height: 610px;
        box-shadow: 1px 1px 10px black;
        border-radius: 10px;
        user-select: none;
    
    }
}