
.sidebar{
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 350px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top:55px;
    left: 0;
    background-color: var(--sidebar-background);
    user-select: none;
    overflow-x: hidden; /* Disable horizontal scroll */ ;

    ul{
        padding: 0px;
        text-align: center;
        a {
            padding: 15px 10px 15px 0px;
            text-decoration: none;
            font-size: 25px;
            color: var(--sidebar-text-color);
            display: block;
            transition: 0.3s;

            &:hover{
                color: var(--sidebar-text-color-hover);
                background-color: var(--sidebar-background-hover);
                cursor: pointer;
            }
        }

       
        
        

        
    }

}

