$background-color: white;
$header-background-color: rgb(180, 62, 62);
$icon-color: white;
$icon-color-hover: rgb(180, 62, 62);
$icon-background-hover: rgb(228, 225, 225);
$sidebar-background: rgb(228, 225, 225);
$sidebar-text-color: rgb(180, 62, 62);
$sidebar-text-color-hover: white;
$sidebar-background-hover: rgb(180, 62, 62);
$p-color: rgb(180, 62, 62);